@charset "UTF-8";
body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  padding-top: 60px;
}

.header__logo a {
  text-decoration: none;
  font-size: 24px;
  font-weight: 800;
  color: #fff;
  letter-spacing: 1px;
}

.header .nav__link {
  position: relative;
  margin-right: 30px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.header .nav__link:after {
  position: absolute;
  display: block;
  content: "";
  bottom: -10px;
  left: 0px;
  width: 0;
  height: 3px;
  background-color: #fcac45;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.header .nav__link:hover:after, .header .nav__link:focus:after {
  width: 100%;
  /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
}

.header .nav__link:last-child {
  padding-right: 0;
}

.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-height: 790px;
  background-color: #000;
  width: 100%;
}

.intro__title {
  font-weight: 300;
  font-size: 44px;
  text-transform: uppercase;
  color: #757575;
}

.intro__title span {
  font-weight: 700;
  color: #fcac45;
}

.intro__text {
  font-size: 20px;
  color: #c3c3c3;
  font-weight: 400;
}

.intro__text span {
  font-weight: 700;
  color: #fff;
}

.skills {
  width: 100%;
  min-height: 610px;
  padding: 100px 0;
}

.skills__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills__content {
  margin-left: 170px;
}

.skills__title {
  color: #111;
  padding-top: 30px;
  font-size: 31px;
  font-weight: 300;
  color: #222;
  text-transform: uppercase;
  position: relative;
}

.skills__title:after {
  position: absolute;
  content: '';
  display: block;
  bottom: -20px;
  width: 100%;
  height: 4px;
  background-color: #fcac45;
}

.skills__title span {
  font-weight: 700;
  color: #222;
}

.skills__text {
  color: #6c6c6c;
  font-size: 18px;
  font-weight: 400;
  max-width: 445px;
  margin: 55px 0 40px;
}

.skills__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #7b7b7b;
}

.skills__block {
  font-style: italic;
}

.skills__block span {
  font-style: normal;
  color: #656565;
  font-weight: 700;
  position: relative;
  padding-left: 20px;
}

.skills__block span::before {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 14px;
  height: 15px;
  background-image: url("../img/dotts.png");
}

.skills__block:nth-child(2) {
  margin: 15px 0;
}

.team {
  padding: 100px 0 160px;
  background-color: #000;
  min-height: 720px;
  width: 100%;
}

.team__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team__wrapper {
  text-align: center;
  color: #fff;
  max-width: 271px;
  min-height: 270px;
  padding: 0 10px;
}

.team__photo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}

.team__name {
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
}

.team__prof {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 400;
}

.team__desc {
  margin-top: 30px;
  font-size: 14px;
  font-weight: 400;
}

.title {
  position: relative;
  font-size: 44px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 130px;
}

.title:after {
  position: absolute;
  display: block;
  content: '';
  bottom: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 5px;
  width: 100px;
  background-color: #fcac45;
}

.services {
  padding: 100px 0;
  min-height: 730px;
  width: 100%;
  background-color: #fff;
}

.services__title {
  color: #000 !important;
  margin-bottom: 80px !important;
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.services__block {
  text-align: center;
  max-width: 255px;
  min-height: 255px;
  padding: 25px 10px;
}

.services__text {
  color: #898989;
  text-align: center;
  font-style: italic;
  margin-bottom: 100px;
}

.services__icon {
  margin-bottom: 50px;
  position: relative;
}

.services__icon:after {
  position: absolute;
  content: '';
  top: -35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  width: 120px;
  height: 120px;
  border: 4px solid #fcac45;
  border-radius: 50%;
  margin: 0 auto;
}

.services__name {
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}

.services__desc {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  color: #000;
}

.clients {
  background-color: #000;
  min-height: 520px;
  width: 100%;
  padding: 100px 0 200px;
}

.clients__title {
  margin-bottom: 140px !important;
}

.clients__title span {
  font-weight: 300 !important;
}

.clients__inner {
  padding: 0 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.work {
  min-height: 1330px;
  width: 100%;
  background-color: #fff;
  padding: 100px 0;
}

.work__title {
  color: #000;
  margin-bottom: 80px;
}

.work__title span {
  font-weight: 300;
}

.work__text {
  text-align: center;
  color: #6c6c6c;
  font-style: italic;
  margin-bottom: 175px;
}

.work__wrapper {
  width: 263px;
  height: 237px;
  margin: 30px 10px;
}

.work__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews {
  padding: 100px 0 170px;
  background-color: #000;
  min-height: 560px;
  width: 100%;
}

.reviews__title {
  color: #fff;
}

.reviews__title span {
  font-weight: 300;
}

.reviews__text {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  max-width: 830px;
  margin: 0 auto 50px;
}

.reviews__desc {
  text-align: center;
  color: #898989;
}

.reviews__desc span {
  font-weight: 300;
  color: #6c6c6c;
}

.contacts {
  padding: 100px 0;
  min-height: 830px;
}

.contacts__title {
  color: #000;
}

.contacts__title {
  margin-bottom: 80px;
}

.contacts__text {
  color: #898989 !important;
  font-style: italic;
  font-weight: 300;
  max-width: 750px;
}

.contacts__suptext {
  font-size: 14px;
  font-weight: 400;
  color: #6c6c6c;
}

.contacts__suptext span {
  color: red;
}

.contacts__suptext--message {
  margin-top: 50px;
}

.contacts textarea {
  border: 1px solid #999999;
  height: 160px;
  border-radius: 1px;
  width: 750px;
}

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 215px 0 205px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts__content--first {
  margin-right: 28px;
}

.contacts__content input {
  border: 1px solid #999999;
  width: 360px;
  height: 40px;
  border-radius: 1px;
}

.contacts__btn {
  margin-top: 45px;
  margin-left: auto;
  margin-right: 0;
}

.contacts__btn a {
  color: #fff;
  padding: 15px 60px;
  background-color: #fcac45;
  text-decoration: none;
  text-transform: uppercase;
}

.footer {
  height: 95px;
  width: 100%;
  background-color: #222222;
  padding: 30px 0;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon {
  margin-right: 20px;
  position: relative;
  text-align: center;
}

.footer__icon:last-child {
  margin-right: 0;
}

.footer__icon:after {
  position: absolute;
  display: block;
  content: '';
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border: 3px solid #b2b2b2;
  border-radius: 50%;
}

@media (max-width: 1220px) {
  .clients__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .clients__name {
    padding: 20px 0;
  }
  .contacts__suptext--message textarea {
    width: 515px;
  }
  .contacts__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    text-align: center;
  }
  .contacts__content--first {
    margin: 0;
  }
  .contacts__btn {
    margin: 30px auto 0;
  }
  .contacts textarea {
    width: 310px;
  }
  .contacts__inner {
    padding: 0;
  }
}

@media (max-width: 1160px) {
  .skills__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .skills__content {
    margin-left: 70px;
  }
}

@media (max-width: 940px) {
  .skills__content {
    text-align: center;
    margin-left: 0;
  }
  nav {
    display: none;
  }
}

@media (max-width: 776px) {
  .skills__photo {
    text-align: center;
  }
  .skills__photo img {
    width: 30%;
  }
}

@media (max-width: 612px) {
  .work__text {
    margin-bottom: 80px;
  }
  .work__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 588px) {
  .team__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 556px) {
  .services__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 525px) {
  .skills__content {
    text-align: center;
    font-size: 14px;
  }
  .skills__title {
    font-size: 23px !important;
  }
  .intro__title {
    font-size: 34px;
  }
  .intro__text {
    font-size: 16px;
  }
}

@media (max-width: 588px) {
  .reviews__title {
    font-size: 35px !important;
  }
}

@media (max-width: 430px) {
  .contacts__inner {
    max-width: 330px;
  }
  .contacts__content input {
    width: 270px;
  }
  .contacts textarea {
    width: 270px;
  }
}
